body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    gap: 20px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: orange;
    border: 3px solid blue;
    margin: 10px;
}

/* Efeito 1: Sombra externa com bordas arredondadas */
.box1 {
    border-radius: 15px;
    box-shadow: 10px 5px 5px gray;
}

/* Efeito 2: Sombra externa quadrada */
.box2 {
    border-radius: 0;
    box-shadow: 10px 10px 5px gray
}

/* Efeito 3: Sombra interna com bordas arredondadas */
.box3 {
    border-radius: 15px;
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.5);
}

/* Efeito 4: Sombra interna com bordas arredondadas */
.box4 {
    border-radius: 0px;
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.5);
}

/* Efeito 5: Sombra externa com bordas arredondadas */
.box5 {
    border-radius: 15px;
    box-shadow: 25px 3px 3px gray;
}

/* Efeito 6: Sombra externa quadrada */
.box6 {
    border-radius: 0;
    box-shadow: 25px 3px 3px gray
}

/* Efeito 7: Sombra interna profunda com bordas arredondadas */
.box7 {
    border-radius: 15px;
    box-shadow: inset 25px 15px 15px rgba(0, 0, 0, 0.5);
}

/* Efeito 8: Sombra interna quadrada e profunda */
.box8 {
    border-radius: 0;
    box-shadow: inset 25px 15px 15px rgba(0, 0, 0, 0.5);
}